@font-face {
    font-family: myFirstFont;
    src: url(Digital7Mono-B1g5.ttf);
  }
body {
    background-color: #2E2B32;
	margin: 0px;
	padding: 0px;
	height: 100vh;
}
#header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding-bottom: 10px;
	width: auto;
	height: 40px;
	font-family: myFirstFont;
	font-size: 1.2rem;
	background-color: #3d324c;
	color: rgb(111, 131, 151);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px 0px 15px black;
}

main {
    margin-top: 25px;
}
#power {
    width: 295px;
	height: 30px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
}
.fafa {
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0px 0px;
	background-color: black;
	border-radius: 50px;
	box-shadow: 0px 0px 7px black;
}
#model {
	margin: 6px 94px 0px 0px;
	font-family: myFirstFont;
	font-size: 1.5rem;
	border-radius: 40px;
	padding: 1px;
	color: #6C8294;
	text-shadow: 0px 0px 10px black;
}
.fa {
	color: #1D5280;
}
.show {
	color: #9DE8FF;
}
.show-start{
	opacity: 1;
	visibility: visible;
}
.screen2-toggle {
	opacity: 1;
	visibility: visible;
}

#display-unit {
	border: 2px solid  #2E2B32;
	background-color: #2E2B32;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	padding: 2px 2px 0px;
}
#screen-container, #down-display {
    border: 2px solid grey;
	height: 100px;
	width: 300px;
	margin-top: 0px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-family: myFirstFont;
	color: black;
	font-size: 2rem;
	box-sizing: border-box;
	background-color: /*#CBCFC2*/#AEB59C;
	flex-wrap: wrap;
}
#screen-container {
	border-radius: 10px;
}
#top-display, #down-display {
	border: 2px solid #AEB59C;
	height: 49px;
	width: 300px;
	margin: 0px;
	box-sizing: border-box;
	color: black;
	padding: 0px 0px 0px;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}
#top-display {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#down-display {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#screen {
	margin: 0px;
	position: relative;
	bottom: 10px;
    /* font-family: myFirstFont; */
}
#calculator-display {
	margin: 0px;
	position: relative;
	top: 0px;
	font-size: 1.2rem;
}
.buttoncontainer {
	border: 2px solid black;
	height: 540px;
	width: 320px;
	margin: auto;
	padding: 0px 0px 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
	border-radius: 15px;
	column-gap: 5px;
	box-shadow: 0px 0px 25px black;
}
.btn:hover {
    transform: scale(1.05);
    background-color: #393939;
}
.btn {
	border: 2px solid /*grey*/#2D333A;
	width: 65px;
	height: 45px;
	box-sizing: border-box;
	margin: 0px 0px;
	border-radius: 50px;
	/*background-color: grey;*/
	color: grey;
	font-size: 2rem;
	background-color: #2D333A;
	cursor: pointer;
	box-shadow: 0px 10px 10px black;
	text-shadow: 5px 0px 5px black;
}
.btn-show {
	color: #9DE8FF;
}
.btn-operator {
	background-color: /*#7ECDD5*/#415962;
	color: /*grey*/#002326;
	border-color: #96E0FF;
	border: 8px;
	box-shadow: 0px 10px 10px black;
}
.btn-operator:hover {
	background-color: #59809D;
}
.top {
	background-color: #2E2B32;
	font-size: 1rem;
	border: 2px solid grey;
	font-weight: bold;
	box-shadow: 0px 10px 10px black;
	color: grey;
}
.top:hover {
	background-color: #230D00;
}
h1 {
	margin: auto;
	text-align: center;
}
#backspace, #clear {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}
#equal {
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-color: #96E0FF;
	border: 8px;
}
#plus {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-color: #96E0FF;
	border: 8px;
}

#decimal {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}
#dot {
	margin: 0px auto 1px;
	font-size: 50px;
	padding: 0px 0px 15px;
	font-size: 2rem;
}
#negativeplus, #decimal {
	background-color: #2E2B32;
	border-color: grey;
	text-align: center;
	color: grey;
	font-size: 2rem;
}